
<div>
    <h2 class="titulo">Tabla de Productos</h2>
    <table class="tablaProductos">
        <tr>
            <th>Título</th>
            <th>Precio</th>
            <th>Imagen</th>
        </tr>
        {{#if productos.length}}
            {{#each productos}}
                <tr>
                    <td>{{this.titulo}}</td>
                    <td>$ {{this.precio}}</td>
                    <td><img height="60px" width="60px" src={{this.imagen}}/></td>
                </tr>
            {{/each}}
        {{/if}}
        {{#unless productos}}
            <h3 class="titulo">No se encontro ningun producto!!</h3>
        {{/unless}}
    </table>
</div>


<style>
    table, th, td {
        border: 0.5px solid;
    }
    .titulo {
        text-align: center;
    }
    .nuevoProducto {
        display: flex ;
        align-items: center;
        justify-content: center;
    }
</style>

